/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Initial CSS */

* {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(rgb(175, 103, 233), rgb(101, 101, 231));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 75px 50px;
}

.container {
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

/* Images */

.card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: no-repeat url("../images/bg-pattern-desktop.svg");
  background-position: 120% 65%;
  background-size: 200%;
  min-height: 500px;
}

.card-img-box {
  position: absolute;
  left: -93px;
  top: 187px;
}

.card-img-woman {
  position: relative;
  right: 88px;
}

.card-img-bg-pattern {
  position: absolute;
  left: -572px;
  top: -309px;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}
.attribution a {
  color: #fff;
  font-weight: bold;
}

.attribution a:hover {
  text-decoration: underline;
}
